In [92]:
# Initial imports
import pandas as pd
from pathlib import Path

In [6]:
# Take sample of data
csv_path = Path("Resources/budget_data.csv")
csv_data = pd.read_csv(csv_path, index_col="Date")
csv_data.sample(5)

          Profit/Losses
Date
May-2015         158620
Apr-2015        -524626
Apr-2011         793163
Nov-2016         795914
May-2011         485070

In [14]:
# Identify Series count of Profit/Loss
# Total number of months is equal to total number of rows which can be given using the .count function

total_months = csv_data["Profit/Losses"].count()
total_months

86

In [91]:
# Calculate Net Total
# Calculate Net Total using .sum function

net_total = csv_data["Profit/Losses"].sum()
net_total

38382578

In [50]:
# Calculate Average Change
# Used .diff function to find difference between each subsuequent row and the previous row putting it into a new column and diviing that by the total number of months minus 1

csv_data["avg_change"] = csv_data["Profit/Losses"].diff()
average_change = round((csv_data["avg_change"].sum() / (total_months - 1)), 2)
average_change

-2315.12

In [66]:
# Calculate Greatest Increase in Profits
# Used .max function to find the greatest increase among each profit change

greatest_increase = csv_data["avg_change"].max()
greatest_increase

1926159.0

In [67]:
# Calculate Greatest Decrease in Profits
# Used .min function to find the greatest decrease among each profit change

greatest_decrease = csv_data["avg_change"].min()
greatest_decrease

-2196167.0

In [68]:
# Print out Financial Analysis
print("----- Financial Analysis -----")
print(f"Total Months: {total_months}")
print(f"Total: {total}")
print(f"Average Change: {average_change}")
print(f"Greatest Increase in Profits: {greatest_increase}")
print(f"Greatest Decrease in Profits: {greatest_decrease}")

----- Financial Analysis -----
Total Months: 86
Total: Profit/Losses    38382578.0
avg_change        -196785.0
dtype: float64
Average Change: -2315.12
Greatest Increase in Profits: 1926159.0
Greatest Decrease in Profits: -2196167.0

In [70]:
# Set output file name
output_path = 'output.txt'

In [89]:
# Open the output path as a file object
with open(output_path, 'w') as file:
    #Write Financial Analysis to the output file, convert to string
    file.write(f"Financial Analysis")
    file.write(f"Total Months: {total_months}")
    file.write(f"Total: {total}")
    file.write(f"Average Change: {average_change}")
    file.write(f"Greatest Increase in Profits: {greatest_increase}")
    file.write(f"Greatest Decrease in Profits: {greatest_decrease}")